@import "./_variable";
@import "./mixin";

//reset css
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

//global styles
body {
    font-family: $font-raleway;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    transition: backgound-color .3s ease, color .3s ease;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-merriweather;
    margin-bottom: $margin-base;
}

p {
    font-size: $paragraph-font-size;
    margin-bottom: $margin-base;
}

//responsive typography 
h1 {
    @include responsive-font(2.5rem, 2rem, 3rem);
}

p {
    @include responsive-font(1rem, .9rem, 1.2rem)
}

//global classes for layout 
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $padding-base;
}

button {
    background-color: $light-mode-primary;
    color: $light-mode-background;
    border: none;
    padding: $padding-base;
    cursor: pointer;
    transition: background-color .3s ease;

    &:hover {
        background-color: $dark-mode-primary;
    }
}


.section {
    height: 100vh;
    width: 100%;
    border: 1px solid red;
    padding: 85px $spacing-lg;
}


